<footer>
    <div class="footer">
        <div class="info-footer">
            <h4>GENEMY.</h4>
            <p>Aliquam orci nullam tempor sapien gravida orci donec enim ipsum porta justo at velna auctor congue magna laoreet augue</p>
        </div>
        <div class="info-footer">
            <h5>LET’S TALK</h5>
            <p>hello@example.com</p> 
            <p>P: +12 9 8765 4321</p>
        </div>
        
        <div class="info-footer">
            <h5>OUR LOCATION</h5>
            <p>121 King Street, Melbourne, Victoria 3000 Australia</p>
        </div>
    </div>
    <div class="footer-info">
        <p>© 2018, Designed & Developed By Jthemes Studio All Rights Reserved</p>
    </div>
</footer>
