@import './variables';
@import './mixins';

html {
    @include box-sizing(border-box);
}
*,
*:after,
*::before {
    @include box-sizing (inherit);
}

body {
    font-family: $fuenteprincipal;
    margin: 0;
    padding: 0;
}

a {
    color: $azul;
    text-decoration: none;
    font-weight: 600;
    &:hover {
        color: lighten($azul, 10%);
    }
}