@import './variables';
@import './mixins';

html {
    @include box-sizing(border-box);
}
*,
*:after,
*::before {
    @include box-sizing (inherit);
}

body {
    font-family: $mainfont;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: $titlefont;
    line-height: 1.1;
}

a {
    color: $azul;
    text-decoration: none;
    font-weight: 600;
    &:hover {
        color: lighten($azul, 10%);
    }
}

.container {
    padding: 20px;
    margin: auto;
    max-width: 1600px;
    @include tablet () {
        padding: 0;
    }
}

.split-section {
    max-width: 1600px;
    padding: 0 6%;
    margin: auto;
    display: flex;
    flex-direction: column;    
    @include tablet () {
        flex-direction: row;
        padding: 0 0 0 6%;
    }
    @include tablet () {
        padding: 0;
    }

    > div {
        flex: 50%;
    }
    
    .info {
        padding: 40px 0;
        color: $negro;
        span {
            color: $azul;
            font-weight: bold;
        }
        p {
            font-size: 18px;
        }
    }

    h2 {
        font-size: 40px; 
        font-weight: 800;
        line-height: 1.1;
        @include tablet {
            font-size: 50px;
        }
    }

    h3 {
        font-size: 20px;
    }
    
    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 90%;
            max-width: 500px;
            margin: 0 auto 50px;
            display: block;
            @include tablet () {
                margin: 50px auto;
            }
        }
    }
}