@import '../../sass/variables';
@import '../../sass/mixins';


.speakers-header {
  background-color: $rojo;
  color: $blanco;
}

.header-container {
  padding: 40px 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  
  .speakers-title {
    flex-wrap: wrap;
    margin: auto;
    text-align: right;
    width: 20%;
  }

  .speakers-description {
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding-left: 60px;
  }
}
