
<div class="container">
    <h1>OUR SPEAKERS</h1>
    <h2>Meet our first three confirmed super speakers. If you are an Angular fan, probably you've heard about them.</h2>
    <section class="speakers">
        <div class="content">
            <img src="../../assets/cano.jpg">
            <div class="texto">
            <h2>JORGE CANO</h2>
            <h3><a href="https://twitter.com/jorgeucano" target="_blank">@jorgeucano</a></h3>
            <p>
                Google Developer Expert in Angular - Nativescript Dev Expert <br>
                ngbaires and ng-conf organizer. <br>
                Main architect at HeroDevs.
            </p>
            <!-- <p>After more than 10 years working in the tech industry, Jorge is a full stack developer with focus on JavaScript technologies. Today, Jorge is working at Hero Devs using Angular / RxJS / Firebase as well as other technologies. He delivered several courses and talks as well as write some tech articles on these subjects. Because of that, he was recognised as a Google Developer Expert in Angular & web technologies and Nativescript Developer Expert. </p> -->
        </div>
        </div>
        <div class="content">
            <img src="../../assets/frosty.jpg">
            <div class="texto">
            <h2>AARON FROST</h2>
            <h3><a href="https://twitter.com/aaronfrost" target="_blank">@aaronfrost</a></h3>
            <p>
                Google Developer Expert in Angular<br>
                ng-conf organizer. <br>
                CEO and co-founder of HeroDevs.
            </p>
        </div>
        </div>
        <div class="content">
            <img src="../../assets/juan.jpg">
            <div class="texto">
            <h2>JUAN HERRERA</h2>
            <h3><a href="https://twitter.com/jdjuan" target="_blank">@jdjuan</a></h3>
            <p>
                Google Developer Expert in Angular and Web Technologies<br>
                Certified Sprint Master. Singer and dancer.<br>
                Front End Developer at Parkside, Austria.
            </p>
        </div>
        </div>
    </section>
</div>
