<div class="ourspeaker">
<h1>OUR SPEAKERS</h1>
<section class="speakers">
    <div class="content">
        <img src="../../assets/cano.jpg">
        <div class="texto">
        <h2>JORGE CANO</h2>
        <p>Augue iaculis in purus tempor undo</p>
    </div>
    </div>
    <div class="content">
        <img src="../../assets/frosty.jpg">
        <div class="texto">
        <h2>AARON FROST</h2>
        <p>Augue iaculis in purus tempor undo</p>
    </div>
    </div>
    <div class="content">
        <img src="../../assets/juan.jpg">
        <div class="texto">
        <h2>JUAN HERRERA</h2>
        <p>Augue iaculis in purus tempor undo </p>
    </div>
    </div>  
</section>
</div>