<div class="info-organizers container">
    <div class="texto-info">
        <h2 i18n="@@Collaborators.Title">OUR COLLABORATORS</h2>
        <p i18n="@@Collaborators.Description">Every day more talented people is joining our team.</p>
    </div>
    <div class="organizers">
        <div class="testimonio">
            <img src="../../assets/leo.jpg">
            <h3>Leonardo Pérez</h3>
            <h4>@leono286</h4>
            <p i18n="@@Collaborators.Leonardo.Bio">Front End Developer passionate about technology and CSS. I love to create interfaces that engage the user, full of animations, transitions and other effects that make them look alive.</p>
        </div>
        <div class="testimonio">
            <img src="../../assets/roger.jpg">
            <h3>Roger Alexander</h3>
            <h4>@rroyalcas</h4>
            <p i18n="@@Collaborators.Roger.Bio">Full stack  Developer, Microsoft Certified Software Developer, 28 years old with 10 years of great experience in the industry, with a lot of interest and experience in technical practices and design patterns.</p>
        </div>
        <div class="testimonio">
            <img src="../../assets/juanjo.jpg">
            <h3>Juan Jose Rendón</h3>
            <h4>@jnrendon</h4>
            <p i18n="@@Collaborators.JuanJose.Bio">Web developer, passionate about technology and gadgets.</p>
        </div>
        <div class="testimonio">
            <img src="../../assets/ricardo.jpg">
            <h3>Ricardo Mejía Bautista</h3>
            <h4>@monomejia</h4>
            <p i18n="@@Collaborators.RicardoMejia.Bio">Industrial Designer by profession, with an emphasis on visual communication and a professional training program in Motion Graphics.Co-founder / Director of Operations at PappCorn | Vaki co-founder</p>
         </div>
        <div class="testimonio">
            <img src="../../assets/vanessa.jpg">
            <h3>Vanessa Aristizabal</h3>
            <h4>@vanessamarely</h4>
            <p i18n="@@Organizers.Vanessa.Bio">Is a System Engineering with experience as a Web Developer and <span>Google Developer Expert</span> and co-organizer of <span>GDG Medellin</span>. She is passionate about technology, books, code, design, videogames and Anime (and drawing Manga style).</p>
        </div>
    </div>
 </div>
