<div class="info-organizers container">
    <div class="texto-info">
        <h2>OUR COLLABORATORS</h2>
        <p>Every day more talented people is joining our team.</p>
    </div>
    <div class="organizers">
        <div class="testimonio">
            <img src="../../assets/leo.jpg">
            <h3>Leonardo Pérez</h3>
            <h4>@leono286</h4>
            <p>Front End Developer passionate about technology and CSS. I love to create interfaces that engage the user, full of animations, transitions and other effects that make them look alive.</p>
        </div>
        <div class="testimonio">
            <img src="../../assets/juanjo.jpg">
            <h3>Juan Jose Rendon</h3>
            <h4>@jnrendon</h4>
            <p>Web developer, passionate about technology and gadgets.</p>
        </div>
        <div class="testimonio">
            <img src="../../assets/roger.jpg">
            <h3>Roger Alexander</h3>
            <h4>@rroyalcas</h4>
            <p>Full stack  Developer, Microsoft Certified Software Developer, 28 years old with 10 years of great experience in the industry, with a lot of interest and experience in technical practices and design patterns.</p>
        </div>
        <div class="testimonio">
            <img src="../../assets/carlos2.JPG">
            <h3>Carlos Ortiz</h3>
            <h4>@cortizq</h4>
            <p> Carlos is a seasoned Software Developer. He is always willing to explore and learn the best practices in Software Development. He loves Java Language but he is also willing to explore. He loves music, improving all required skills for his daily job duties. He loves his family and is always open to help.</p>
        </div>
        <div class="testimonio">
            <img src="../../assets/ricardo.jpg">
            <h3>Ricardo Mejía Bautista</h3>
            <h4>@monomejia</h4>
            <p> Carlos is a seasoned Software Developer. He is always willing to explore and learn the best practices in Software Development. He loves Java Language but he is also willing to explore. He loves music, improving all required skills for his daily job duties. He loves his family and is always open to help.</p>
        </div>
    </div>
 </div>
