<div class="info-organizers">
    <div class="texto-info">
        <h2>OUR COLLABORATORS</h2>
        <p>An enim nullam tempor sapien gravida donec enim ipsum blandit porta justo integer odio velna vitae auctor integer congue magna at purus</p>
    </div>
    <div class="organizers">
        <div class="testimonio">
            <img src="../../assets/gris.jpg">
            <h3>Vanessa Aristizabal</h3>
            <h4>@vanessamarely</h4>
            <p>Is a System Engineering with experience as a Web Developer.</p>
        </div>
        <div class="testimonio">
            <img src="../../assets/gris.jpg">
            <h3>Jose Gomez</h3>
            <h4>Programmer</h4>
            <p>" Etiam sapien sem at sagittis congue augue massa varius."</p>
        </div>
    </div>
</div>
