<div class="info-organizers">
        <div class="texto-info">
            <h2>OUR ORGANIZERS</h2>
            <p>An enim nullam tempor sapien gravida donec enim ipsum blandit porta justo integer odio velna vitae auctor integer congue magna at purus</p>
        </div>
        <div class="organizers">
            <div class="testimonio">
                <img src="../../assets/carlos.jpg">
                <h3>Carlos Angulo</h3>
                <h4>@vanessamarely</h4>
                <p>Is a System Engineering with experience as a Web Developer. She is an organizer of <span>GDG Medellin</span> and <span>She codes Angular</span>. She is passionate about technology, books, code, design, videogames and Anime (and drawing Manga style). </p>
            </div>
            <div class="testimonio">
                <img src="../../assets/adriana.jpg">
                <h3>Adriana Maguea</h3>
                <h4>@adrianamagdev</h4>
                <p>" Etiam sapien sem at sagittis congue augue massa varius sodales sapien undo tempus dolor        egestas magna suscipit magna tempus aliquet porta sodales augue suscipit luctus neque "</p>
            </div>
            <div class="testimonio">
                <img src="../../assets/gio.jpg">
                <h3>Giovanny Betancourt</h3>
                <h4>@giobetancourtg</h4>
                <p>Giovanny is a software developer with more than eight years of experience,  head of engineering at Waruwa, an AgTech and e-commerce Colombian startup, he is a co-organizer of <span> NgColombia Bogotá</span>, he knows what communities are agents of social transformation,  Angular lover and passionate for frontend and music.</p>
            </div>
            <div class="testimonio">
                <img src="../../assets/vanessa.jpg">
                <h3>Vanessa Aristizabal</h3>
                <h4>@vanessamarel</h4>
                <p>Is a System Engineering with experience as a Web Developer and <span>Google Developer Expert</span>. She is an organizer of <span>GDG Medellin</span> and <span>She codes Angular</span>. She is passionate about technology, books, code, design, videogames and Anime (and drawing Manga style).</p>
                </div>
                <div class="testimonio">
                    <img src="../../assets/gris.jpg">
                    <h3>Jose Gomez</h3>
                    <h4>Programmer</h4>
                    <p>" Etiam sapien sem at sagittis congue augue massa varius sodales sapien undo tempus dolor        egestas magna suscipit magna tempus aliquet porta sodales augue suscipit luctus neque "</p>
                </div>
                <div class="testimonio">
                    <img src="../../assets/gris.jpg">
                    <h3>Manuel Gomez</h3>
                    <h4>SEO Manager</h4>
                    <p>" Etiam sapien sem at sagittis congue augue massa varius sodales sapien undo tempus dolor        egestas magna suscipit magna tempus aliquet porta sodales augue suscipit luctus neque "</p>
                </div>
        </div>
    
