<div class="info-organizers container">
    <div class="texto-info">
        <h2>OUR ORGANIZERS</h2>
        <p>A kind, entusiastic and creative team is in charge!</p>
    </div>
    <div class="organizers">
        <section>
            <img src="../../assets/carlos.jpg">
            <h3>Carlos Angulo</h3>
            <h4>@carlos_acns</h4>
            <p>Industrial Designer with experience as a Web Developer. He is co-organizer of <span>Angular Medellín</span> meetup. Carlos is a passionate about UX/UI interactive design and animations.</p>
        </section>
        <section>
            <img src="../../assets/adriana.jpg">
            <h3>Adriana Maguea</h3>
            <h4>@adrianamagdev</h4>
            <p>Web UI Developer student. She is co-organizer or <span>Angular Medellín</span> meetup. Passionate about technology and gadgets. Terrific Speaker and an amazing dancer.</p>
        </section>
        <section>
            <img src="../../assets/gio.jpg">
            <h3>Giovanny Betancourt</h3>
            <h4>@giobetancourtg</h4>
            <p>Giovanny is a software developer with more than eight years of experience,  head of engineering at Waruwa, an AgTech and e-commerce Colombian startup, he is a co-organizer of <span> NgColombia Bogotá</span>, he knows what communities are agents of social transformation,  Angular lover and passionate for frontend and music.</p>
        </section>
        <section>
            <img src="../../assets/vanessa.jpg">
            <h3>Vanessa Aristizabal</h3>
            <h4>@vanessamarel</h4>
            <p>Is a System Engineering with experience as a Web Developer and <span>Google Developer Expert</span>. She is an organizer of <span>GDG Medellin</span> and <span>She codes Angular</span>. She is passionate about technology, books, code, design, videogames and Anime (and drawing Manga style).</p>
        </section>
        <section>
            <img src="../../assets/nicolas.jpg">
            <h3>Nicolás Contreras</h3>
            <h4>@ni500</h4>
            <p>Electronic and industrial engineer. Passionate for software development, soccer, activism and democracy. CEO of PappCorn and CTO of Vaki. Commited to make the internet a place with citizen empowerment tools that fix the system.</p>
        </section>
        <section>
            <img src="../../assets/andrea.jpg">
            <h3>Andrea Cordoba</h3>
            <h4>@dandre_coder</h4>
            <p> Is a software engineer at Globant, is a Javascript lover, her favorite learning methodology is teaching and her current main mission is to help strengthen the local talent and contribute to the generation of professional opportunities especially for women in technology. She is co-organizer of the MedellínCSS community and also co-organizer of Angular Day Medellín 2019.</p>
        </section>
    </div>
</div>
    
