<div class="container">
    <h1 i18n="@@Tickets.Title">TICKETS</h1>
    <h2 i18n="@@Tickets.Description">OUR PRICING & PACKAGES</h2>

    <div class="tabla">
        <div class="tabla-precios">
            <h5 i18n="@@Tickets.Conference.Title">CONFERENCE</h5>
            <div class="precios">
                <h3><span>$</span>10</h3>
                <p i18n="@@Tickets.Conference.Description">Online Conference Ticket</p>
            </div>
            <a class="boton-precios" href="https://ti.to/ngconfco/2020/" i18n="@@Tickets.CallToAction">GET STARTED</a>
        </div>
        <div class="tabla-precios">
            <h5 i18n="@@Tickets.Workshop.Title">WORKSHOP</h5>
            <div class="precios">
                <h3><span>$</span>10</h3>
                <p i18n="@@Tickets.Workshop.Description">Online Workshop Ticket</p>
            </div>
            <a class="boton-precios" href="https://ti.to/ngconfco/2020/" i18n="@@Tickets.CallToAction">GET STARTED</a>
        </div>
        <div class="tabla-precios">
            <h5 i18n="@@Tickets.Package1.Title">PACKAGE #1</h5>
            <div class="precios">
                <h3><span>$</span>15</h3>
                <p i18n="@@Tickets.Package1.Description">Live access to 2 workshops</p>
            </div>
            <a class="boton-precios" href="https://ti.to/ngconfco/2020/" i18n="@@Tickets.CallToAction">GET STARTED</a>
        </div>
    </div>
</div>
