<div class="container">
    <h1>TICKETS</h1>
    <h2>OUR PRICING & PACKAGES</h2>
    
    <div class="tabla">
        <div class="tabla-precios">
            <h5>CONFERENCE</h5>
            <div class="precios">
                <h3><span>$</span>10</h3>
                <p>Online Conference Ticket</p>
            </div>
            <a class="boton-precios" href="https://ti.to/ngconfco/2020/">GET STARTED</a>
        </div>
        <div class="tabla-precios">
            <h5>WORKSHOP</h5>
            <div class="precios">
                <h3><span>$</span>10</h3>
                <p>Online Workshop Ticket</p>
            </div>
            <a class="boton-precios" href="https://ti.to/ngconfco/2020/">GET STARTED</a>
        </div>
        <div class="tabla-precios">
            <h5>PACKAGE #1</h5>
            <div class="precios">
                <h3><span>$</span>15</h3>
                <p>Live access to 2 workshops</p>
            </div>
            <a class="boton-precios" href="https://ti.to/ngconfco/2020/">GET STARTED</a>
        </div>
    </div>
</div>

