<div class="container">
    <h1>TICKETS</h1>
        <h2>OUR PRICING & PACKAGES <br>Second Batch early bird only 15 tickets (15 workshop and 15 conference) with 50% discount</h2>    
        <div class="tabla">
            <div class="tabla-precios">
                <h5>CONFERENCE</h5>
                <div class="precios">
                    <h3><span>$</span>40</h3>
                    <p>Talks throughout the day</p>
                </div>
                <a class="boton-precios" href="https://ti.to/ngconfco/2020/with/k0qlwkbeplq">GET STARTED</a>
            </div>
            <div class="tabla-precios">
                <h5>WORKSHOP</h5>
                <div class="precios">
                    <h3><span>$</span>30</h3>
                    <p>Each (noon) </p>
                </div>
                <a class="boton-precios" href="https://ti.to/ngconfco/2020/with/f9dfs-hrrce">GET STARTED</a>
            </div>
            <div class="tabla-precios">
                <h5>PREMIUM</h5>
                <div class="precios">
                    <h3><span>$</span>50</h3>
                    <p>Conference + 1 Workshop</p>
                </div>
                <a class="boton-precios" href="https://ti.to/ngconfco/2020/with/r6pvtjubrnu">GET STARTED</a>
            </div>
            <div class="tabla-precios">
                <h5>ENTERPRISE</h5>
                <div class="precios">
                    <h3><span>$</span>60</h3>
                    <p>Conference + 2 Workshop</p>
                </div>
                <a class="boton-precios" href="https://ti.to/ngconfco/2020/with/wnipbgs5xwm">GET STARTED</a>
            </div>
        </div>
</div>

