<div class="split-section">
    <div class="info">
        <span>WELCOME TO GENEMY</span>
        <h2>A NATION-WIDE COMMUNITY</h2>
        <p>This time, the ngConf Colombia is organized by a powerful team of local communty organizers, bringing their experience to make this an amazing event. A huge community all around the </p>
        <div class="numbers">
            <div>
                <h2>312</h2>
                <P>NG COLOMBIA BOGOTA</P>
            </div>
            <div>
                <h2>2,754</h2>
                <P>ANGULAR MEDELLÍN</P>
            </div>
            <div>
                <h2>680</h2>
                <P>SHE CODES ANGULAR</P>
            </div>
        </div>
    </div>
    <div class="img">
        <img src="../../assets/Angular.png" class="imagen-logo">
    </div>
</div>