<div class="informacion2">
    <div class="info2">
        <span>WELCOME TO GENEMY</span>
        <h2>SET YOUR BUSINESS IN MOTION TODAY</h2>
        <p>Semper lacus cursus porta, feugiat primis in ultrice ligula tempus auctor ipsum and mauris lectus enim ipsum</p>
        <h3>FEATURE INTEGRATION</h3>
        <p>Vitae auctor integer congue magna at pretium purus pretium ligula rutrum luctus risus velna auctor congue tempus undo magna..</p>
        <div class="numbers">
            <div class="clients">
                <h2>3,438</h2>
                <P>HAPPY CLIENTS</P>
            </div>
            <div class="tickets">
                <h2>1,263</h2>
                <P>TICKETS CLOSET</P>
            </div>
        </div>
    </div>
    <img src="../../assets/Angular.png" class="imagen-logo">
</div>
