<div class="split-section">
    <div class="info">
        <span>SO PROUD OF BEING</span>
        <h2>A NATION-WIDE COMMUNITY</h2>
        <p>This time, the ngConf Colombia is possible thanks to the collaboration of a powerful team of local communty organizers, who bring their experience to make this an amazing event.</p>
        <p>Our main goal is to provide the best experience with the most up-to-date content. Over 2 years, we have been positively impacting a large number of developers who have found in Angular the best front end development framework.</p>
        <div class="numbers">
            <div>
                <h2>10</h2>
                <P>Workshops</P>
            </div>
            <div>
                <h2>32</h2>
                <P>Meetups</P>
            </div>
            <div>
                <h2>3,746</h2>
                <P>Active Members</P>
            </div>
        </div>
    </div>
    <div class="img">
      <img src="../../assets/sponsor.jpg" alt="">
    </div>
</div>
