<header>
    <div class="header-container">
        <div class="announce">
            <h1>Hurry up<span>our CFP is open!</span></h1>
            <p>the call is open until</p>
            <h4> 31 &bull; 05 &bull; 2020</h4>
        </div>
        <div class="img">
            <img src="../../../assets/mini-speaker.png">
        </div>
    </div>
</header>

<section class="countdown">
    <h4>
        <span>
            <em>{{daysLeft | number:'2.0-0'}}</em>
            days
        </span>
        <span>
            <em>{{hoursLeft | number:'2.0-0'}}</em>
            hours
        </span>
        <span>
            <em>{{minutesLeft | number:'2.0-0'}}</em>
            min
        </span>
        <span>
            <em>{{secondsLeft | number:'2.0-0'}}</em>
            sec
        </span>
    </h4>
    <a href="https://airtable.com/shrT73BaxvHVJmIso" target="_blank" class="btn">Apply here</a>
</section>

<section class="split-section">
    <div class="info">
        <h2>You are invited to participate!</h2>
        <p>We are pleased to announce that the largest Angular conference in Spanish-speaking opened its call for Speakers. Starting today and until next May 31, we will be receiving all the proposals for conducting talks and workshops on all topics related to Angular and front end development technologies. </p>
        <p>No matter the country you come from, your experience or the language you speak, if you want to participate, we welcome you. We want to inspire as many people around the world as possible and that is why your participation and the energy you can impress on it is so important to us. Remember: this time, our conference will be 100% virtual, so, as a speaker you don't have to move from your country to our beautiful Medellín.</p>
        <p>If this is your first time speaking for a conference, don't worry, we have a team of experts who will guide you step by step through the different preparation and start-up phases.</p>
    </div>
    <div class="img">
        <div>
            <img src="../../../assets/logo-01.png">
        </div>
    </div>
</section>


<section class="categories">
    <div class="container">
        <h1>Available Categories</h1>
        <h2>NgConfCo 2020 will have 3 different categories for the realization of each intervention:</h2>
        <main class="contenido-secundario">

            <article class="card">
                <i class="fas fa-volume-up"></i>
                <div class="contenido">
                    <h3>Full Talks</h3>
                    <p>Talks in a 20-minute format. We will discuss technical topics related to the Angular platform.</p>
                </div>
            </article>

            <article class="card">
                <i class="fas fa-shipping-fast"></i>
                <div class="contenido">
                    <h3>Lightning talks</h3>
                    <p>Talks in 10 minute format. We will deal with technical topics related to web development, as well as relevant non-technical topics in our work as developers.</p>
                </div>
            </article>

            <article class="card">
                <i class="fas fa-chalkboard-teacher"></i>
                <div class="contenido">
                    <h3>WORKSHOPS</h3>
                    <p>Live master classes with duration of 4. The topics are totally focused on the Angular platform, and are aimed at a mixed audience with basic to intermediate knowledge.</p>
                </div>
            </article>
        </main>
        <div class="apply">
            <a href="https://airtable.com/shrT73BaxvHVJmIso" target="_blank" class="btn">Apply here</a>
        </div>
    </div>
</section>


<section class="inspiration">
    <div class="container">
        <div class="split-section">
            <div class="info">
                <span>ARE YOU</span>
                <h2>LOOKING FOR INSPIRATION?</h2>
                <p>Don't worry, the Angular ecosystem is varied and constantly developing, the large number of topics that exist in a very wide range and we can often suffer when choosing one. However, we have four major themes on which you can focus your talk:</p>
                <ul>
                    <li><i class="fas fa-check"></i>Angular Ecosystem</li>
                    <li><i class="fas fa-check"></i>Front End Development Technologies</li>
                    <li><i class="fas fa-check"></i>Web Technologies in general</li>
                    <li><i class="fas fa-check"></i>Non-technical topics</li>
                </ul>
            </div>
            <div class="items">
                <h3>SOME TOPICS YOU CAN TALK ABOUT:</h3>
                <ul>
                    <li><a href="#" target="_blank">Most recent features in Angular</a></li>
                    <li><a href="#" target="_blank">Architecture</a></li>
                    <li><a href="#" target="_blank">IVY Render</a></li>
                    <li><a href="https://angular.io/guide/schematics" target="_blank">Schematics</a></li>
                    <li><a href="#" target="_blank">Libraries</a></li>
                    <li><a href="https://angular.io/guide/testing" target="_blank">Unit Testing</a></li>
                    <li><a href="#" target="_blank">Angular Material</a></li>
                    <li><a href="#" target="_blank">NestJS</a></li>
                    <li><a href="https://github.com/scullyio/scully" target="_blank">Scully</a></li>
                    <li><a href="https://rxjs-dev.firebaseapp.com/" target="_blank">RxJs</a></li>
                    <li><a href="#" target="_blank">E2E Testing</a></li>
                    <li><a href="https://angular.io/guide/reactive-forms" target="_blank">Reactive Forms</a></li>
                    <li><a href="#" target="_blank">Big Data</a></li>
                    <li><a href="https://angular.io/api/animations/AnimationBuilder" target="_blank">Animations</a></li>
                    <li><a href="https://angular.io/guide/universal" target="_blank">Angular Universal</a></li>
                    <li><a href="https://www.angulararchitects.io/aktuelles/6-steps-to-your-angular-based-microfrontend-shell/" target="_blank">Micro-Frontends</a></li>
                    <li><a href="https://angular.io/guide/universal" target="_blank">NgRx</a></li>
                    <li><a href="https://medium.com/ngconf/angular-architecture-matters-monorepo-df110b2a508a" target="_blank">Monorepos</a></li>
                    <li><a href="https://dzone.com/articles/how-to-use-change-detection-in-angular" target="_blank">Change Detection</a></li>
                    <li><a href="https://angular.io/guide/elements" target="_blank">Angular Elements</a></li>
                    <li><a href="https://ionicframework.com/" target="_blank">Ionic</a></li>
                    <li><a href="https://fluin.io/blog/state-of-angular-design-tools-2019" target="_blank">Angular for designers</a></li>
                    <li><a href="https://www.typescriptlang.org/" target="_blank">Typescript</a></li>
                    <li><a href="https://medium.com/@dhormale/integrate-machine-learning-tensorflow-model-with-angular-d72ec9287520" target="_blank">Machine Learning</a></li>
                    <li><a href="https://bazel.build/" target="_blank">Bazel</a></li>
                    <li><a href="https://blog.angular.io/angular-tools-for-high-performance-6e10fb9a0f4a" target="_blank">Performance</a></li>
                    <li><a href="https://www.youtube.com/watch?v=gxixM90vo9Y" target="_blank">Debugging</a></li>
                    <li><a href="https://angular.io/guide/attribute-directives" target="_blank">Directives</a></li>
                    <li><a href="https://angular.io/guide/cli-builder" target="_blank">CLI Builders</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</section>


<section class="lineup">
    
</section>