<header>
    <div class="caption info">
        <h1>NGCONF COLOMBIA CFP <span>IS OPEN!</span></h1>
        <p>La convocatoria abierta hasta:</p>
        <h4> 31 &bull; 05 &bull; 2020</h4>
    </div>
    <div class="img">
        {{hora}}:{{minutos}}:{{segundos}}
        <!-- <img src="../../../assets/speaker.png"> -->
    </div>
</header>


<div class="split-section">
    <div class="info">
        <h2>Participa!</h2>
        <p>Continuamos adelante con nuestro propósito por traer los mejores y más relevantes contenidos sobre Angular en un mismo espacio.
        Queremos que hagas parte de nuestro grupo de speakers. Como lo hemos mencionado anteriormente, en esta versión 2020, nuestro evento se realizará 100% virtual; razón por la cual, la dinámica para la realización de las charlas tendrá que ajustarse a las nuevas condiciones.</p>
        <h3>Cómo puedo ser speaker?</h3>
        <p>Participa llenando nuestro formulario de llamado a Speakers <a href="#">aquí</a></p>
        <h3>Proceso de selección</h3>
        <p>Los términos y condiciones para la selección de nuestros speakers...</p>
        <h3>Criterios de selección</h3>
    </div>
    <div class="img">
        <div>
            <img src="../../../assets/logo-01.png">
        </div>
    </div>
</div>