<div class="container">
    <h1>What the attendees will get</h1>
    <h2>We are preparing an unforgettable event. We want to offer you the best of the experiences you have ever lived in a conference.</h2>
    <main class="contenido-secundario">

        <article class="card">
            <i class="fas fa-laptop-code"></i>
            <div class="contenido">
                <h3>WORKSHOPS</h3>
                <p>A full day dedicated to four workshops, where attendees will learn from the Angular experts, the best techniques and tools to improve their productivity in real life projects.</p>
            </div>
        </article>

        <article class="card">
            <i class="fas fa-fingerprint"></i>
            <div class="contenido">
                <h3>THE CONFERENCE</h3>
                <p>A whole day that brings together 14 first-level speakers from around the world who will share with the audience their knowledge in all areas of technological development related to Angular.</p>
            </div>
        </article>

        <article class="card">
            <i class="fas fa-venus"></i>
            <div class="contenido">
                <h3>WORKSHOP FOR WOMEN</h3>
                <p>Women development communities have become an important part of our ADN in Medellín. This year, a new group will be joining efforts to bring a full workshop to bring a great workshop in which many women can learn about Angular.</p>
            </div>
        </article>
    </main>
</div>
