<div class="contenedor">
    <h1>What to expect</h1>
    <main class="contenido-secundario">
        
        <article class="card">
            <i class="fas fa-bullhorn"></i>
            <div class="contenido">
                <h3>WORKSHOPS</h3>
                <p>1 Full day dedicated to 4 Workshops. Atendees will learn the most advanced techniques in Angular to improve their productivity</p>
            </div>
        </article>
                
        <article class="card">
            <i class="fas fa-satellite-dish"></i>
            <div class="contenido">
                <h3>CKEYWORD RESEARCH</h3>
                <p>Semper lacus cursus porta, feugiat primis in ultrice ligula risus tempus auctor ipsum and mauris</p>
            </div>
        </article>
                
        <article class="card">
            <i class="fas fa-users"></i>
            <div class="contenido">
                <h3>USER EXPERIENCE</h3>
                <p>Semper lacus cursus porta, feugiat primis in ultrice ligula risus tempus auctor ipsum and mauris</p>
            </div>
        </article>
    </main>
</div>