<div class="split-section">
    <div class="info">
       
        <h3> Why are we Holding this conference?</h3>

        <p>In addition to being a solid framework in constant evolution accompanied by an important number of tools that complement its operation, what makes Angular great worldwide is its community: Periodically around the world a lot of developers meet in local meetups to share and update their knowledge on this technology.

        <p>In addition, more and more countries around the world hold an annual conference that brings together a larger number of international assistants and speakers to offer an experience of great complexity and impact.</p>

        <p>In our region of Latin America, Colombia pioneered the 2017 and 2018 versions of Ng Colombia in which more than 500 attendees, 20 speakers from all over the world and 6 workshops can be counted. Since its creation, this conference has been characterized by taking care of all the details and providing an unforgettable experience.</p>

    </div>
    <div class="img">
        <img src="../../assets/conference-.jpg" alt="">
    </div>
</div>

