@import '../../sass/variables';
@import '../../sass/mixins';

.split-section {
    background-color: white;
}

h1 {
    text-align: left;
}

h4 {
  color: $azul;
  text-transform: uppercase;
}

.info {
    padding-inline-end: 20px;
}

.img img{
  max-width: unset;
}
