<div class="split-section">
    <div class="info">
        <span>DIGITAL STRATEGY</span>
        <h2>WITH KNOWLEDGE AND HARD WORK</h2>
        <p>Semper lacus cursus porta, feugiat primis in ultrice ligula tempus auctor ipsum and mauris lectus enim ipsum.
        </p>
        <h3>FEATURE INTEGRATION</h3>
        <p>Vitae auctor integer congue magna at pretium purus pretium ligula rutrum luctus risus velna auctor congue tempus undo magna. An enim nullam tempor sapien gravida donec enim ipsum porta blandit justo integer odio velna vitae auctor integer luctus.</p>     
    </div>
    <div class="img">
        
    </div>
</div>

