<!-- <div class="split-section" *ngIf = "!sponsorbar">
  <div class="info">
    <h3 i18n="@@Sponsors.Title">Why are we Holding this conference?</h3>

    <p i18n="@@Sponsors.Paragraph1">
      In addition to being a solid framework in constant evolution accompanied
      by an important number of tools that complement its operation, what makes
      Angular great worldwide is its community: Periodically around the world a
      lot of developers meet in local meetups to share and update their
      knowledge on this technology.
    </p>

    <p i18n="@@Sponsors.Paragraph2">
      In addition, more and more countries around the world hold an annual
      conference that brings together a larger number of international
      assistants and speakers to offer an experience of great complexity and
      impact.
    </p>

    <p i18n="@@Sponsors.Paragraph3">
      In our region of Latin America, Colombia pioneered the 2017 and 2018
      versions of Ng Colombia in which more than 500 attendees, 20 speakers from
      all over the world and 6 workshops can be counted. Since its creation,
      this conference has been characterized by taking care of all the details
      and providing an unforgettable experience.
    </p>
  </div>
  <div class="img">
    <img src="../../assets/conference-.jpg" alt="" />
  </div>
</div> -->
<div class="our_sponsors">
  <h2><a href="/sponsorship">Our Sponsors</a></h2>
  <div class="sponsors bronze">
    <div class="pack_sponsors">
      <h3>Bronze</h3>
      <a href="https://thinkster.io/" target="_blank"><img src="../../assets/thinkster.png" alt=""></a>
      <a href="https://vaki.co/" target="_blank"><img src="../../assets/vaki.png" alt=""></a>
    </div>
    <div class="pack_sponsors secondary silver">
      <h3>Silver</h3>
      <a href="https://www.laboratoria.la/" target="_blank"><img src="../../assets/laboratoria.png" alt=""></a>
    </div>
    <div class="pack_sponsors main platinum">
      <h3>Platinum</h3>
      <a href="https://nrwl.io/" target="_blank"><img src="../../assets/nrwl.svg" alt="" /></a>
    </div>
    <div class="pack_sponsors secondary gold">
      <h3>Gold</h3>
      <a href="https://torre.co/" target="_blank"><img src="../../assets/torre.png" alt="" /></a>
    </div>
    <div class="pack_sponsors enterprise">
      <h3>Enterprise</h3>
      <a href="https://www.pappcorn.com/" target="_blank"><img src="../../assets/pappcorn.png" alt=""></a>
    </div>
  </div>
  <div *ngIf="sponsorshpButton">
    <a href="/sponsorship" class="become-sponsor">Why to become a sponsor?</a>
  </div>
</div>
