@import '../../sass/variables';
@import '../../sass/mixins';

:host {
  display: block;
}

.split-section {
    background-color: white;
}

h3 {
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
}


.info {
    padding-inline-end: 20px;
}

.img img{
  max-width: unset;
}
