<!-- <nav class="barra-principal">
    <div class="container">
        <img src="../../assets/logo.png" class="logo">
        <div class="navegacion">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Works</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Blog</a></li>
                <li class="button"><a href="#">Get Started</a></li>
            </ul>
        </div>
    </div>
</nav> -->
