<!-- <app-single-page-menu></app-single-page-menu> -->
<div class="content">
  <app-header id="when"></app-header>
  <app-description id="description"></app-description>
  <app-benefits id="benefits"></app-benefits>
  <app-speaker id="speakers"></app-speaker>
  <app-tickets id="tickets"></app-tickets>
  <app-description-angular id="comunity"></app-description-angular>
  <app-organizer id="organizers"></app-organizer>
  <app-collaborators id="collaborators"></app-collaborators>
  <app-sponsor id="sponsors"></app-sponsor>
  <app-mail id="mail"></app-mail>
</div>
