<header>
    <div class="container">
        <h1> <span>Ou</span>r Speakers</h1>
        <p>We have selected a group of speakers that will bring you the best and most content content on Angular and web development technologies.</p>
        <div class="logo"></div>
    </div>
</header>

<div class="container">
    <div class="speakers">
        <div [routerLink]="['/speaker', speaker.id]" class="info_speaker" *ngFor="let speaker of speakers">
            <div class="contenedor">
                <img src="../../../assets/{{speaker.picture}}.jpg" alt="">
            </div>
            <div>
            <h2>{{speaker.name}}</h2>
            <span>{{speaker.jobTitle}}</span>
        </div>
        </div>
    </div>
</div>

<div class="modal" *ngIf="currentSpeaker">
    <div class="modal-window">
        <button (click)="removeModal()"><i class="fas fa-times"></i></button>
        <div class="contenedor_info">
            <img src="../../../assets/{{currentSpeaker.picture}}.jpg" alt="">
            <div class="info">
                <h2>{{currentSpeaker.name}}</h2>
                <h4>{{currentSpeaker.country}}</h4>
                <h4>{{currentSpeaker.jobTitle}}</h4>
                <div *ngFor="let intervention of currentSpeaker.interventions">
                    <h3>{{intervention.title}}</h3>
                    <p [innerHTML]= "intervention.description"></p>
                </div>
            </div>
        </div>
    </div>
</div>