<div class="partners">
    <a href="/partners">our community partners</a>
    <div class="community">
        <a href="https://twitter.com/AngularMedellin" target="_blank">
            <img src="../../../assets/logo_001.png" alt="">
            <h4>Angular Medellín</h4>
        </a>
        <a href="https://twitter.com/AngularBogota" target="_blank">
            <img src="../../../assets/AngularBogota.png" alt="">
            <h4>Angular Bogotá</h4>
        </a>
        <a href="https://www.meetup.com/es-ES/Angular-Bolivia/" target="_blank">
            <img src="../../../assets/bolivia.jpg" alt="">
            <h4>Angular Bolivia</h4>
        </a>
        <a href="https://twitter.com/AngularHonduras" target="_blank">
            <img src="../../../assets/angular comunidad - logo.png" alt="">
            <h4>Angular Honduras</h4>
        </a>
        <a href="https://twitter.com/AngularCR" target="_blank">
            <img src="../../../assets/Angular CR_Logo_2020 WHITE-01.png" alt="">
            <h4>Angular Costa Rica</h4>
        </a>
        <a href="https://twitter.com/AngularMalaga" target="_blank">
            <img src="../../../assets/angular-malaga-nuevo-2.png" alt="">
            <h4>Angular Málaga</h4>
        </a>
        <a href="https://twitter.com/ngVenezuela" target="_blank">
            <img src="../../../assets/ngvenezuela.png" alt="">
            <h4>ng Venezuela</h4>
        </a>
        <a href="https://twitter.com/ng_Cba" target="_blank">
            <img src="../../../assets/cordoba.png" alt="">
            <h4>Ng Córdoba</h4>
        </a>
        <a href="https://twitter.com/WWCodeBogota" target="_blank">
            <img src="../../../assets/WWCode Logo_Bogota Binary.png" alt="">
            <h4>Women who code Bogotá</h4>
        </a>
        <a href="https://twitter.com/WWCodeMedellin" target="_blank">
            <img src="../../../assets/WWCode_Medellin_Binary.png" alt="">
            <h4>Women who code Medellín</h4>
        </a>
        <a href="https://twitter.com/ngDominican" target="_blank">
            <img src="../../../assets/ng-dominican.png" alt="">
            <h4>Angular Dominicana</h4>
        </a>
        <a href="https://twitter.com/ngPanama" target="_blank">
            <img src="../../../assets/logos-ng-panama-512.png" alt="">
            <h4>Ng Panama</h4>
        </a>
        <a href="https://twitter.com/angularMVD" target="_blank">
            <img src="../../assets/angularUruguayFlag.png" alt="">
            <h4>Angular Montevideo</h4>
        </a>
        <a href="https://twitter.com/NgTachira" target="_blank">
            <img src="../../assets/ngTachira.jpg" alt="">
            <h4>ngTáchira</h4>
        </a>
        <a href="https://codear.org/" target="_blank">
            <img src="../../assets/codear.jpg" alt="">
            <h4>Codear</h4>
        </a>
        <a href="https://medellinjs.org/" target="_blank">
            <img src="../../assets/medellinjs.jpg" alt="">
            <h4>Medellín JS</h4>
        </a>
        <a href="https://pionerasdev.co/" target="_blank">
            <img src="../../assets/pioneras.jpg" alt="">
            <h4>PionerasDev</h4>
        </a>
        <a href="https://twitter.com/DevTeam504" target="_blank">
            <img src="../../assets/devteam.jpg" alt="">
            <h4>Devteam 504</h4>
        </a>
        <a href="https://www.meetup.com/es-ES/GDG-Medellin/" target="_blank">
            <img src="../../assets/gdgmedellin.png" alt="">
            <h4>GDG Medellín</h4>
        </a>
        <a href="https://www.meetup.com/es-ES/GDGCali/" target="_blank">
            <img src="../../assets/gdgcali.jpg" alt="">
            <h4>GDG Cali</h4>
        </a>
    </div>
</div>