<div class="partners">
<a href="/partners">our community partners</a>
<div class="community">
    <a href="https://twitter.com/AngularMedellin">
        <img src="../../../assets/logo_001.png" alt="">
        <h4>Angular Medellín</h4>
    </a>
    <a href="https://twitter.com/AngularHonduras">
        <img src="../../../assets/angular comunidad - logo.png" alt="">
        <h4>Angular Honduras</h4>
    </a>
    <a href="https://twitter.com/AngularCR">
        <img src="../../../assets/Angular CR_Logo_2020 WHITE-01.png" alt="">
        <h4>Angular Costa Rica</h4>
    </a>
    <a href="https://twitter.com/AngularBogota">
        <img src="../../../assets/AngularBogota.png" alt="">
        <h4>Angular Bogotá</h4>
    </a>
    <a href="https://twitter.com/AngularMalaga">
        <img src="../../../assets/angular-malaga-nuevo-2.png" alt="">
        <h4>Angular Malaga</h4>
    </a>
    <a href="https://twitter.com/WWCodeBogota">
        <img src="../../../assets/WWCode Logo_Bogota Binary.png" alt="">
        <h4>Women who code Bogotá</h4>
    </a>
    <a href="https://twitter.com/WWCodeMedellin">
        <img src="../../../assets/WWCode_Medellin_Binary.png" alt="">
        <h4>Women who code Medellín</h4>
    </a>
    <a href="https://twitter.com/ngDominican">
        <img src="../../../assets/ng-dominican.png" alt="">
        <h4>Angular Dominicana</h4>
    </a>
    <a href="https://twitter.com/ngPanama">
        <img src="../../../assets/logos-ng-panama-512.png" alt="">
        <h4>Ng Panama</h4>
    </a>
    <a href="https://twitter.com/angularMVD">
        <img src="../../assets/angularUruguayFlag.png" alt="">
        <h4>Angular Montevideo</h4>
    </a>
</div>
</div>