<header>
  <div class="header-container">
    <div class="announce">
      <h1>Want to support us?<span>Become a sponsor</span></h1>
      <p>It will be a pleasure to have your company</p>
    </div>
    <div class="img">
      <img src="../../../assets/sponsorship.png" />
    </div>
  </div>
</header>

<section class="why split-section">
  <div class="info">
    <h3>WHY SUPPORT THIS EVENT?</h3>
    <p>
      NgConf Colombia 2020 is a non-profit event and 100% of our income will be
      destined to provide a unique experience to all participants: attendees,
      speakers and sponsoring entities. The short and medium-term benefits for
      the development of our region and country as the epicenter of the fourth
      industrial revolution will result in more employment and a more motivated
      audience to learn new technologies.
    </p>
    <p>
      The sponsorship support we get will make it possible for us to achieve our
      objectives and to support those who participate in it. Gathering so many
      benefits in a single event will keep our region updated and help to
      maintain the growth trend and finally will allow foreign investment to
      keep our eyes on our city recognizing it as a city that bets on technology
      and offers quality solutions.
    </p>
  </div>
  <div class="img">
    <div>
      <img src="../../../assets/logo-01.png" />
    </div>
  </div>
</section>

<section class="communities">
  <div class="container">
    <div class="bogota">
      <div class="image"></div>
      <div>
        <h3>COMMUNITY IN BOGOTÁ</h3>
        <p>
          In 2018, this community was created under the name of ng-Colombia
          Bogotá which, through periodic meetings of technical talks, seeks to
          expose the benefits of using Angular as the main Frontend development
          framework. As of today, there have been 5 meetups with more than 250
          attendees impacted.
        </p>
      </div>
    </div>
    <div class="medellin">
      <div>
        <h3>COMMUNITY IN MEDELLIN</h3>
        <p>
          The holding of this conference in our country, and especially in this
          region, is not an isolated event. It comes as a result of the constant
          work that the Angular Medellín community has been doing for the past 3
          years in hopes of improving the skills of the Frontend developers.
          Thanks to monthly meetings with keynote talks and practical workshops,
          around 85 attendees were impacted which is an average that exceeds
          more than 3 times that achieved in the same events highlighted in
          Europe and/or the United States.
        </p>
        <p>
          We would like your company to be part of this magnificent event as one
          of our sponsors. Thanks to your help, our country will continue to be
          a pioneer in providing this experience in Latin America in addition to
          continuing to bring the best benefits to our region.
        </p>
      </div>
      <div class="image"></div>
      <div class="logo logo-top"></div>
      <div class="logo"></div>
    </div>
    <div class="women">
      <div class="image"></div>
      <div>
        <h3>WOMEN LEARNING ANGULAR</h3>
        <p>
          In Medellín, our community often helds workshops aimed at women,
          seeking to reduce the gender gap in the software development
          environment. As of today, we already had more than 6 workshops with an
          attendance rate that surpasses 100 people per event.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="how">
  <div class="container">
    <h3>HOW CAN YOU BE A SPONSOR?</h3>
    <p>
      We have prepared the following plans with the benefits that your Company
      will obtain when sponsors our conference.
    </p>
    <p>
      For more information, please contact
      <a href="mailto:info@ngconf.co">info@ngconf.co</a> about the terms and
      conditions as well as for further clarity on any doubts.
    </p>
  </div>
  <div class="logo">
    <img src="/../../assets/logo-08.png" />
  </div>
</section>

<section class="plans">
  <div class="container">
    <h1>SPONSORSHIP PLANS</h1>
    <h2>ngConfCo 2020</h2>

    <div class="tabla">
      <section class="primary">
        <h5>PLATINUM</h5>
        <ul class="precios">
          <li>Main sponsor, here would be just you</li>
          <li>Logo in our webpage, Platinum section</li>
          <li>Logo in all communications</li>
          <li>
            Logo in the main streaming sections (sidebar or bottom accompanying
            the speaker)
          </li>
          <li>
            Advertising space of up to 10 minutes in streaming to communicate
            something to the audience.
          </li>
          <li>
            <a href="https://torre.co" target="_blank">torre.co</a> Enterprise
            Licence for 1 year
          </li>
        </ul>
        <div class="contribute">
          USD 2,000 - 5,000
        </div>
      </section>

      <section class="secondary secondary__second">
        <h5>GOLD</h5>
        <ul class="precios">
          <li>Logo in our webpage, Gold section</li>
          <li>Logo in all communications</li>
          <li>
            Logo in the main streaming sections (sidebar or bottom accompanying
            the speaker)
          </li>
          <li>
            Advertising space of up to 5 minutes in streaming to communicate
            something to the audience.
          </li>
          <li>
            <a href="https://torre.co" target="_blank">torre.co</a> Enterprise
            Licence for 1 year
          </li>
        </ul>
        <div class="contribute">
          USD 1,000
        </div>
      </section>

      <section class="secondary">
        <h5>SILVER</h5>
        <ul class="precios">
          <li>Logo in our webpage, Silver section</li>
          <li>Logo in all communications</li>
          <li>Exclusive thank you mention in streaming</li>
          <li>
            <a href="https://torre.co" target="_blank">torre.co</a> Enterprise
            Licence for 1 year
          </li>
        </ul>
        <div class="contribute">
          USD 500
        </div>
      </section>

      <section class="ternary">
        <h5>BRONZE</h5>
        <ul class="precios">
          <li>Logo in our webpage, Bronze section</li>
          <li>Logo in some communications</li>
          <li>General thank you mention in streaming</li>
        </ul>
        <div class="contribute">
          USD 250
        </div>
      </section>

      <section class="ternary ternary__second">
        <h5>ENTERPRISE</h5>
        <ul class="precios">
          <li>Logo in our webpage, Enterprise section</li>
          <li>General thank you mention in streaming</li>
        </ul>
        <div class="contribute">
          USD 100
        </div>
      </section>
    </div>

    <a class="boton-precios" href="https://vaki.co/vaki/ngconfco2020"
      >BECOME A SPONSOR</a
    >
  </div>
</section>
