<div class="split-section">
    <div class="info">
        <span>ABOUT</span>
        <h2>NG CONF COLOMBIA</h2>
        <p>NgConf Colombia is the first Angular Conference in <strong>Latin America</strong> It gathers a diverse mix top-notch Angular speakers from different countries all around the World. This 2-day event is full advanced workshops, keynotes and talks. Will be carried out in <a href="https://www.youtube.com/watch?v=uEE0K3EsYxo" target="_blank">Medellín, Colombia</a> at <a href="https://www.rutanmedellin.org/" target="_blank">Ruta <i>n</i></a></p>
        <h3>INTEGRATION</h3>
        <p>"Building a community is not only hard work but passion."</p>
        <p>This is our believe, that's why this year, the conference is possible thanks to the integration of two different communities in Colombia: <a href="https://www.meetup.com/es/Angular-Medellin/" target="_blank">Angular Medellín</a> and <a href="https://www.meetup.com/es/NgColombia-Bogota/" target="_blank">NgColombia Bogotá</a> who have been working month by month on building a strong community all around the Country.</p>
    </div>
    <div class="img">
        <div>
            <img src="../../assets/logo-01.png">
        </div>
    </div>
</div>
