<app-single-page-menu [externalPage]="'true'" ></app-single-page-menu>
 <div class="caption">
    <h1>Nuestro Plan</h1>
    <p>Ng Conf Colombia Comunicado oficial Mayo 3º de 2020 acerca del<span> COVID-19</span></p>
 </div>
<div class="container">
    <div class="padding">
        <div class="info">
            <h4>¡Ng Conf Colombia 2020 está confirmada! y será la mejor conferencia online de Angular en Latinoamérica.</h4>
            <p>En las últimas semanas el mundo está pasando por un situación compleja en temas de salud pública y la incertidumbre que todos enfrentamos por el COVID-19 (Coronavirus),  queremos con este comunicado compartir con nuestros asistentes, speakers, sponsors, organizadores y personal logístico de cómo el comité organizador de NgConf Colombia se está preparando para abordar los recientes acontecimientos y lo que se puede presentar en los siguientes meses.
            </p>
            <p>Desde el inicio nuestro objetivo siempre ha sido llevar a cabo una conferencia de alto nivel donde los asistentes se lleven una experiencia inolvidable y eso no va a cambiar; es por eso que tras varias semanas de trabajo hemos decidido que <span>NgConf Colombia 2020 será la mejor conferencia online en latinoamérica.</span></p>
        </div>

        <div class="fullinfo">
            <div class="info2">
                <h3>Nuestro Plan de Acción</h3>
                <ul>
                    <li><span>¿Por qué tomamos esta decisión?</span> Como equipo organizador consideramos varios escenarios posibles y más allá de las decisiones que puedan tomar de fondo los gobiernos locales y el gobierno nacional en cuanto los eventos masivos, decidimos concentrar todos nuestros esfuerzos en hacer el mejor evento online de la región. </li>
                    <li><span>¿Qué hemos hecho?</span> Encontramos la mejor plataforma para transmisión de streaming  que nos permitirá entregarles un evento de altísima calidad. </li>
                    <li><span>¿Qué pasa con los precios de las boletas ya que la conf se llevará a cabo de manera online?</span> Ya que tendremos la conferencia online, el precio de la boletería se redujo a una fracción del valor original; además  anunciamos la apertura de nuevas plazas tanto para la conferencia como para los workshops. </li>
                    <li><span>¿Y si ya realicé el pago completo de mi boleta?</span> Tendrás acceso a la conferencia online del 2020, swag que se te hará llegar en el momento en el que las condiciones actuales lo permitan (Solo en Colombia) y por último y no menos importante, tendrás una entrada para <span>NgConf Colombia 2021</span>, todo por ser un creyente de este gran evento.</li>
                    <li><span>¿Qué pasa si no quiero asistir a la conferencia online?</span> Será reembolsado el 100% del valor de compra, pero recuerda te perderás de la primera y mejor conferencia online de Angular en Latinoamérica.</li>
                </ul>
            </div>
            <div class="logoinfo">
                <img src="../../../assets/logo-01.png" alt="">
            </div>
        </div>
        <p>Para nosotros la comunidad es lo primero, eso incluye garantizar la seguridad de todxs quienes creen en que esto es posible, pero vemos con la misma importancia garantizar que esas mismas personas puedan tener la mejor conferencia y la mejor experiencia, no duden que tanto nosotrxs como todas las personas que se están uniendo para que esto sea posible lo estamos dando todo porque NgConf Colombia sea la mejor conferencia online de Angular en Latinoamérica.</p>

        <p class="fin"> Lxs mantendremos informados de todo lo que vaya aconteciendo en las próximas semanas, gracias por creer, gracias por apoyarnos.</p>
    </div>
</div>
