 <div class="caption">
    <h1>Our plan</h1>
    <p>about <span>COVID-19</span></p>
 </div>
 <div class="container">
     
 <div class="info">
 <p> In recent weeks, the world is going through a complex situation regarding public health issues and the uncertainty that we all face due to <span>COVID-19</span> (Coronavirus). With this statement, we want to share with our assistants, speakers, sponsors, organizers and logistics personnel from how the organizing committee of NgConf Colombia is preparing to address recent events and what can be presented in the following months.</p>

 <p>From the beginning, our objective has always been to hold a high-level conference where attendees have an unforgettable experience and that will not change; That is why, thinking about the changes that may occur in the coming months, we have decided to work on two fronts: <span>NgConf Colombia face-to-face and NgConf Colombia online conference</span> </p>
</div>

<div class="fullinfo">
<div class="info2">
 <h3>Our action plan</h3>

<ul>
    <li> <span>What are we doing?</span>  We are already looking for the best platforms and providers that allow us to broadcast the content of the conference and carry out the workshops. </li>
        <li> <span> When will we decide what type of conference will take place?</span> The deadline is <span> May 15</span>, we consider that it is the reasonable time for attendees to best plan transportation and accommodation expenses. </li>
        <li> <span>What will happen to the ticket prices in case the conf is carried out online?</span> In the event that circumstances lead us to hold the conference online, the ticket price will be reduced to a fraction of the original value and the opening of new places for both the conference and workshops will be announced. </li>
        <li> <span>What if I have already made the full payment of my ticket?</span> The surplus will be refunded to those who made the payment and wish to attend the online conference. </li>
        <li> <span>What if I don't want to attend the online conference?</span> 100% of the purchase value will be refunded, but remember you will miss the first and best Angular conference online in Latin America. </li>
</ul>

<p>For us, the community comes first, that includes guaranteeing the safety of all those who believe that this is possible, but we see with the same importance guaranteeing that those same people can have the best conference and the best experience, do not doubt that both we and all the people who are joining together to make this possible we are giving everything because NgConf Colombia is the best Angular conference / online in Latin America.</p>



 </div>
 <div class="logoinfo">
     <img src="../../../assets/logo-01.png" alt="">
 </div>
</div>
    <p class="fin"> ¡We will keep you informed of everything that is happening in the coming weeks, thanks for believing, thanks for supporting us! </p>
</div>